  <h1>Bienvenido a Sinatra !</h1>
  <h3>Ingresa una URL</h3>
<form action="/urls" method="post">
  <input type="text" name="word_url" placeholder="ingresa una url"><br><br>

  <input type="submit">
   <a href="/short_url" ><button id="sesion" type="button">Mostrar Todo</button></a>
   <a href="/sesion" ><button id="sesion" type="button">Iniciar</button></a>
   <a href="/registrar" ><button id="registrar" type="button">Registrarse</button></a>
</form>













  
