 <h1>Bienvenido Realiza tu Registro !</h1>
   <a href="/"><button id="Home" type="button">Home</button></a>
  <p><form action="/registrar_form" method="post">
    <h3>Ingresa Name</h3>
    <input type="text" name="name" placeholder="Name">
    <h3>Ingresa Email</h3>
    <input type="email" name="email" placeholder="Email">
    <h3>Ingresa Password</h3>
    <input type="text" name="password" placeholder="Paswword"><br><br>
    <input type="submit">
  
</form></p>

