 <h1>Bienvenido Inicia Sesión !</h1>
 
<p><form action="/iniciar_sesion" method="post">
    <h3>Ingresa Email</h3>
    <input type="email" name="email" placeholder="Email">
    <h3>Ingresa Password</h3>
    <input type="text" name="password" placeholder="Paswword"><br><br>
    <input type="submit">
     <a href="/"><button id="Home" type="button">Home</button></a>
    <!--  
  -->
  
</form></p>